.clicker {
    margin: 0px 30px; /* margin 값 수정 */
    display: flex;
    justify-content: center; /* 가운데 정렬을 위한 변경 */
    align-items: center;
    float: right;
    width: 160px;
    height: 33px;
    background-color: #272D4E;
    border-radius: 20px;
    border: none;
    color: white; /* 텍스트 색상을 여기로 이동 */
    cursor: pointer;

    font-size: 17px;
    font-weight: 500;

    &:hover {
        background-color: #0a122d; 
     }
}